.phrases {
  text-align: left;
  display: inline-block;
  max-width: 400px;
}

.phrase {
  box-shadow: 0px 1px 5px lightgrey;
  text-align: left;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  position: relative;
  margin: 5px;
}

.phrase > .translation {
  color: gray;
}

.phrase > .id {
  position: absolute;
  bottom: 1px;
  right: 1px;
  font-size: 9px;
  color: gray;
}

.id.current {
  color: #088dc2;
}
