/* original phrase text */
region.wavesurfer-region:before {
  content: attr(data-region-label1);
  font-size: 0.5em;
  position: absolute;
  top: 1px;
  left: 1px;
  color: rgb(71, 71, 71);
}

/* translation */
region.wavesurfer-region:after {
  content: attr(data-region-label2);
  font-size: 0.5em;
  position: absolute;
  bottom: 1px;
  left: 1px;
  color: rgb(71, 71, 71);
}

handle.wavesurfer-handle {
  background: none !important;
}

.waveform {
  margin-bottom: 10px;
}
